name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:

  push:
    branches:
      - "master"
      - "next"

  workflow_dispatch:

jobs:
  execute_notebooks:
    name: Execute notebooks
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: freud-examples
    - name: Create Python Environment
      uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      with:
        pixi-version: v0.54.1
        cache: false
        activate-environment: true
        manifest-path: freud-examples/pixi.toml
    - name: Display freud version
      run: |-
        python3 -c "import freud; print(freud.__version__)"
    # clone the tutorials and run them
    - name: List notebooks
      run: ls **/*.ipynb
      working-directory: freud-examples
    - name: Execute notebooks
      run: |
        for i in examples module_intros
        do
          echo "Running notebooks in: $i" && jupyter nbconvert --execute --inplace $i/*.ipynb || exit 1
        done
      working-directory: freud-examples
